@{
    ViewData["Title"] = "Результат";
}
<h2>@ViewData["Title"]</h2>

@model IEnumerable<InfoCSR>;

<style type="text/css">
    TABLE {
        width: 100%; /* Ширина таблицы */
        border: 2px solid black; /* Рамка вокруг таблицы */
        background: silver; /* Цвет фона таблицы */
        table-layout: fixed;
    }

    TD, TH {
        text-align: left; /* Выравнивание по центру */
        vertical-align: top;
        padding: 3px; /* Поля вокруг содержимого ячеек */
        border: 1px solid black; /* Параметры рамки */
        word-wrap: break-word;
    }

    TH {
        background: #4682b4; /* Цвет фона */
        color: white; /* Цвет текста */
        border-bottom: 2px solid black; /* Линия снизу */
    }

</style>

<div class="container">
    <div class="col">
        <table>
            <tr>
                <th>Доменное имя</th>
                <th>Компания</th>
                <th>Отдел</th>
                <th>Страна</th>
                <th>Область</th>
                <th>Город</th>
                <th>Email</th>
                <th>KeyCSR</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.DomainName</td>
                    <td>@item.OrganizationName</td>
                    <td>@item.OrganizationalUnit</td>
                    <td>@item.Country</td>
                    <td>@item.State</td>
                    <td>@item.City</td>
                    <td>@item.Email</td>
                    <td>@item.ReqCSR</td>
                </tr>
            }
        </table>
    </div>
</div>